### midifiles created by the program are stored here
output/

### /home/jnes/.gitignore-boilerplates/Global/Eclipse.gitignore

*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


### /home/jnes/.gitignore-boilerplates/Java.gitignore

*.class

# Package Files #
*.war
*.ear


### /home/jnes/.gitignore-boilerplates/Global/vim.gitignore

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


/bin
*.log*
/target

dbres
